<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: head(${sitetitle})}"></head>

<body class="container">
<div class='dashboard'>
<div th:replace="~{fragments :: vertical}"></div>
<div class='dashboard-app'>
    <div class='dashboard-content'>
        <div class='container'>
            <div class='card'>
                <div class='card-header'>
                    <h1 th:text="${headertext}"></h1>
                </div>
                <div class='card-body'>
                    <div th:each="role : ${user.roles}">
                        <p sec:authorize="isAuthenticated()" th:text="'Your account type is: ' + ${role.role()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>