<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head(${sitetitle})}"></head>
<body class="container">
<header th:replace="~{fragments :: horizontal}"></header>
<table class="table table-stripped">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tr th:each="book : ${books}" th:object="${book}">
        <td>
            <a th:href="@{~/books/detail(bookID=${book.getID()})}" th:text="${book.title}"></a>
        </td>
    </tr>
</table>

</body>
</html>