<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="head(sitetitle)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://kit.fontawesome.com/206959994e.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title th:text="${sitetitle}">lenqj project</title>
</head>

<body>

<header th:fragment="horizontal">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #373193;">
        <a class="navbar-brand mx-3 text-warning" th:href="@{/}">lenqj</a>
        <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{~/}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown"
                       href="#" id="navbarBooksDropDown">
                        Books
                    </a>
                    <div aria-labelledby="navbarBooksDropDown" class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{~/books}">All books</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown"
                       href="#" id="navbarCategoriesDropDown">
                        Categories
                    </a>
                    <div aria-labelledby="navbarCategoriesDropDown" class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{~/categories}">All categories</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown"
                       href="#" id="navbarTagsDropDown">
                        Tags
                    </a>
                    <div aria-labelledby="navbarTagsDropDown" class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{~/tags}">All tags</a></div>
                </li>
            </ul>
            <div class="d-flex ms-auto mx-3">
                <a class="btn btn-warning" sec:authorize="!isAuthenticated()" th:href="@{~/login}">Login</a>
                <a class="btn btn-warning" sec:authorize="isAuthenticated()" th:href="@{~/profile}">Profile</a>
            </div>
        </div>
    </nav>
</header>
<div class="dashboard-nav" th:fragment="vertical">
        <header>
            <a class="brand-logo" href="#">
                <i class="fas fa-code"></i>
                <span>lenqj</span>
            </a>
        </header>
        <nav class="dashboard-nav-list">
            <a class="dashboard-nav-item" th:href="@{~/admin}">
                <i class="fas fa-home"></i> Home
            </a>
            <a class="dashboard-nav-item" th:href="@{~/admin/books}">
                <i class="fas fa-book"></i> Books
            </a>
            <a class="dashboard-nav-item" th:href="@{~/admin/categories}">
                <i class="fas fa-list-alt"></i> Categories
            </a>
            <a class="dashboard-nav-item" th:href="@{~/admin/tags}">
                <i class="fas fa-tags"></i> Tags
            </a>
            <a class="dashboard-nav-item" sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{~/admin/users}">
                <i class="fas fa-users"></i> Users
            </a>
            <div class="nav-item-divider"></div>
            <a class="dashboard-nav-item" th:href="@{~/profile}">
                <i class="fas fa-user"></i> Profile
            </a>
            <a class="dashboard-nav-item" th:href="@{~/logout}">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </nav>
</div>
</body>
</html>
