<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<div th:replace="~{fragments :: vertical}"></div>

<div class="container border border-info">
    <h2>Add a new BOOK!</h2>
    <form method="post" enctype="multipart/form-data" th:object="${book}" th:action="@{/admin/books/create}">
        <div class="row mb-3">
            <div class="form-group col-auto">
                <label>Title:
                    <input class="form-control border border-info" th:field="${book.title}">
                </label>
                <p class="alert alert-danger" role="alert" th:errors="${book.title}"></p>
            </div>
            <div class="form-group col-auto">
                <label>Author:
                    <input class="form-control border border-info" th:field="${book.bookDetails.author}">
                </label>
                <p class="alert alert-danger" role="alert" th:errors="${book.bookDetails.author}"></p>
            </div>
        </div>
        <div class="form-group mb-3">
                    <label>Published Date:
                        <input type="date" class="form-control border border-info" th:field="${book.bookDetails.publishedDate}">
                    </label>
                    <p class="alert alert-danger" role="alert" th:errors="${book.bookDetails.publishedDate}"></p>
        </div>
        <div class="form-group mb-3">
            <label>Category:
                <select class="form-select border border-info" th:field="${book.bookCategory}">
                    <option th:each="bookCategory : ${bookCategories}"
                                th:text="${bookCategory.name}"
                                th:value="${bookCategory.ID}">
                    </option>
                </select>
            </label>
            <p class="alert alert-danger" role="alert" th:errors="${book.bookCategory}"></p>

        </div>
        <div class="row mb-3">
            <div class="form-group col-auto">
                    <label>Stock:
                        <input type="number" min=0 class="form-control border border-info" th:field="${book.bookDetails.stock}">
                    </label>
                    <p class="alert alert-danger" role="alert" th:errors="${book.bookDetails.stock}"></p>
            </div>
            <div class="form-group col-auto">
                    <label>Price:
                        <input type="number" min=0 class="form-control border border-info" th:field="${book.bookDetails.price}">
                    </label>
                    <p class="alert alert-danger" role="alert" th:errors="${book.bookDetails.price}"></p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-auto">
                    <label>Description:
                        <input class="form-control border border-info" th:field="${book.bookDetails.description}">
                    </label>
                    <p class="alert alert-danger" role="alert" th:errors="${book.bookDetails.description}"></p>
            </div>

            <div class="form-group col-auto">
                    <label>Image:
                        <input type="file" class="form-control border border-info" th:field="${book.bookDetails.imageFile}" accept="image/*">
                    </label>
                    <p class="alert alert-danger" role="alert" th:errors="${book.bookDetails.imageFile}"></p>
            </div>
        </div>
        <div class="row-cols-auto mb-3">
            <div class="form-group col-auto align-content-center">
                    <input class="btn btn-success border border-info" type="submit" value="SEND!">
            </div>
        </div>
    </form>
</div>

    </body>
    </html>