<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
    <div th:replace="~{fragments :: vertical}"></div>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1 th:text="'Welcome back, ' + ${user.username}"></h1>
                    </div>
                    <div class='card-body'>
                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:each="book : ${books}" th:object="${book}">
                                <td>
                                    <a th:text="${book.title}" th:href="'/books/detail?bookID=' + ${book.ID}"></a>
                                </td>
                                <td>
                                    <button class="btn btn-warning" th:href="'/detail?bookID=' + ${book.getID()}">Update</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" th:href="'/detail?bookID=' + ${book.getID()}">Delete</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>