<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head(${sitetitle})}"></head>
<body class="container">
<div class='dashboard'>
    <div th:replace="~{fragments :: vertical}"></div>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1 th:text="${headertext}"></h1>
                    </div>
                    <div class='card-body'>
                        <form enctype="multipart/form-data" method="post" th:action="@{~/admin/books/update}">
                            <div class="row mb-3">
                                <div class="form-group col-auto">
                                    <label>Title:
                                        <input class="form-control border border-info" th:field="${book.title}">
                                    </label>
                                    <p class="alert alert-danger" role="alert" th:errors="${book.title}"></p>
                                </div>
                                <div class="form-group col-auto">
                                    <label>Author:
                                        <input class="form-control border border-info"
                                               th:field="${book.bookDetails.author}">
                                    </label>
                                    <p class="alert alert-danger" role="alert"
                                       th:errors="${book.bookDetails.author}"></p>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label>Published Date:
                                    <input class="form-control border border-info"
                                           th:field="${book.bookDetails.publishedDate}"
                                           type="date">
                                </label>
                                <p class="alert alert-danger" role="alert"
                                   th:errors="${book.bookDetails.publishedDate}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label>Category:
                                    <select class="form-select border border-info" th:field="${book.bookCategory}">
                                        <option th:each="bookCategory : ${bookCategories}"
                                                th:text="${bookCategory.name}"
                                                th:value="${bookCategory.ID}">
                                        </option>
                                    </select>
                                </label>
                                <p class="alert alert-danger" role="alert" th:errors="${book.bookCategory}"></p>

                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-auto">
                                    <label>Stock:
                                        <input class="form-control border border-info" min=0
                                               th:field="${book.bookDetails.stock}"
                                               type="number">
                                    </label>
                                    <p class="alert alert-danger" role="alert"
                                       th:errors="${book.bookDetails.stock}"></p>
                                </div>
                                <div class="form-group col-auto">
                                    <label>Price:
                                        <input class="form-control border border-info" min=0
                                               th:field="${book.bookDetails.price}"
                                               type="number">
                                    </label>
                                    <p class="alert alert-danger" role="alert"
                                       th:errors="${book.bookDetails.price}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-auto">
                                    <label>Description:
                                        <input class="form-control border border-info"
                                               th:field="${book.bookDetails.description}">
                                    </label>
                                    <p class="alert alert-danger" role="alert"
                                       th:errors="${book.bookDetails.description}"></p>
                                </div>

                                <div class="form-group col-auto">
                                    <label>Image:
                                        <input accept="image/*" class="form-control border border-info"
                                               th:field="${book.bookDetails.imageFile}" type="file">
                                    </label>
                                    <p class="alert alert-danger" role="alert"
                                       th:errors="${book.bookDetails.imageFile}"></p>
                                </div>
                            </div>
                            <div class="row-cols-auto mb-3">
                                <div class="form-group col-auto align-content-center">
                                    <input class="btn btn-success border border-info" type="submit" value="Update">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>