<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<div th:replace="~{fragments :: vertical}"></div>
<form method="post" th:action="@{/admin/tags/create}">
    <div class="form-group">
        <label>Name:
            <input th:field="${tag.name}" class="form-control">
        </label>
        <p class="error" th:errors="${tag.name}"></p>
    </div>
    <div class="row-cols-auto mb-3">
        <div class="form-group col-auto align-content-center">
            <input class="btn btn-success border border-info" type="submit" value="SEND!">
        </div>
    </div>
</form>
</body>
</html>